
/*VARIABLES*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
/*
    --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
*/

/*RESETS*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  cursor: pointer;
  text-decoration: none;
}

button{
  cursor: pointer;
  border: none;
  background-color: transparent;
}

img{
  display: block;
  width: 100%;
}

ul{
  list-style: none;
}

/*STYLES*/

body{
  background-color: hsl(206, 4%, 97%);
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

/*LOADER*/

.loader{
  background-color: white;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.loader__svg{
  width: 7.5em;
  animation: loader 2s infinite;
  fill: var(--first-color);
}

/*HEADER/NAV*/
header{
  background-color: transparent;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
  padding: 1.5em;
  max-width: 86.8em;
  margin: 1em auto;
}

@media screen and (min-width:767px){
  .nav{
    justify-content: start;
  }
}

.nav__a--logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: .5em;
}

.nav__svg{
  fill: var(--first-color);
  width: 2.5em;
}

@media screen and (min-width:767px){
  .nav__svg{
    width: 3.5em;
  }
}

.nav__span--logo{
  font-size: .9em;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1em;
}

@media screen and (min-width:767px){
  .nav__span--logo{
    font-size: 1.5em;
  }
}

.nav__a--home{
  display: none;
}

@media screen and (min-width:767px){
  .nav__a--home{
    display: inline;
    font-size: 1.25em;
    margin-left: 3.5em;
    color: var(--first-color);
    font-weight: 500;
  }
}

.nav__a--products{
  display: none;
}

@media screen and (min-width:767px){
  .nav__a--products{
    display: inline;
    font-size: 1.25em;
    margin-left: 3.5em;
    color: var(--title-color);
    font-weight: 500;
  }
  .nav__a--products:hover{
    color:var(--first-color);
  }

}



.nav__div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

@media screen and (min-width:767px){
  .nav__div{
    margin-left: auto;
  }
}

.nav__div--sub{
  position: relative;
}

@media screen and (min-width:767px){
  .nav__svg--menu{
    display: none;
  }
}

.nav__span--bag{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.25em;
  width: 1.25em;
  border-radius: 100%;
  background-color: black;
  font-size: .65em;
  position: absolute;
  bottom: -5%;
  right: -5%;
  color: white;
  padding: 1em;
}

/*MAIN*/

.main{
  padding:0 1.5em 3em 1.5em;
}

/*SECTION HOME*/

.home{
  display: grid;
  grid-template:  1fr 1fr/1fr 1fr 1fr;
  row-gap: 2.5em;
  max-width: 83em;
  margin: auto;
  max-height: 48em;
}

@media screen and (min-width:767px) {
  .home{
    grid-template: 1fr/1fr 1fr;
  }
}

.home__div--img{
  padding: 7em 0 0 0;
  background-color: var(--first-color);
  grid-column: 2/4;
  grid-row: 1/2;
  transform: translateX(1.5em);
}

@media screen and (min-width:767px){
  .home__div--img{
    grid-column: 2/3
  }
}

.home__div--data{
  grid-column: 1/4;
  grid-row: 2/3;
  
}

@media screen and (min-width:767px){
  .home__div--data{
    margin-top: 7em;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

@media screen and (min-width:935px){
  .home__div--data{
    margin-top: 12em;
  }
}

.home__h1{
  font-size: 2em;
  margin-bottom: .5em;
}

@media screen and (min-width:935px){
  .home__h1{
    font-size: 3em;
  }
}

.home__p{
  margin-bottom: 1em;
}

@media screen and (min-width:935px){
  .home__p{
    font-size: 1.3em;
  }
}

.section__span--h1{
  text-transform: uppercase;
}

.home__span{
  display: inline-block;
  font-size: 1.25em;
  font-weight: 500;
  color: var(--first-color);
  margin-bottom: 2em;
}

@media screen and (min-width:935px){
  .home__span{
    font-size: 1.5em;
  }
}

.home__div--btns{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items:center;
}

.home__a{
  display: inline-block;
  text-decoration: none;
  color:black;
  background-color: #BFBFBF;
  padding: 1em 1.4em;
  font-weight: 500;
  cursor: pointer;
  
}

@media screen and (min-width:1220px){
  .home__a{
    font-size: 1.4em;
  }
}

.home__btn{
  display: inline-block;
  background-color: black;
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  color: white;
  padding: 1.7em 2.7em;
  cursor: pointer;
}

@media screen and (min-width:1220px){
  .home__btn{
    font-size: 1.1em;
  }
}

/*SECTION PRODUCTS*/

.products__ul{
  display: grid;
  grid-template:  1fr 1fr/1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5em;
  margin: 4.5em auto;
  max-width: 123em;
}

@media screen and (min-width:600px){
  .products__ul{
    margin-top: 8em;
  }
}

@media screen and (min-width:767px){
  .products__ul{
    grid-template:  1fr/1fr 1fr 1fr 1fr;
  }
}

.products__li--all, .products__li--shirts, .products__li--hoodies{
  position:relative;
}

.products__li--all::before,.products__li--shirts::before{
  content: "";
  width: 1px;
  height: 40px;
  background-color: black;
  position: absolute;
  right: -12px;
  top: 0;
  bottom: 0;
}

@media screen and (min-width:767px){
  .products__li--hoodies::before{
    content: "";
    width: 1px;
    height: 40px;
    background-color: black;
    position: absolute;
    right: -12px;
    top: 0;
    bottom: 0;
  }
}

.products__h3{
  font-size: 1.2em;
  margin-bottom: .3em;
}

@media screen and (min-width:767px){
  .products__h3{
    font-size: 1.4em;
  }
}

.products__span{
  font-size: 1em;
}

@media screen and (min-width:767px){
  .products__span{
    font-size: 1.2em;
  }
}

.products__div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4em;
}


.article__div--img{
  background-color: #BFBFBF;
  border-radius: .5em .5em 0 0;
}

.article__div--data{
  background-color: white;
  padding: 1em;
  position: relative;
  border-radius: 0 0 .5em .5em;
}

.article__button{
  font-size: 2em;
  font-weight: 500;
  position: absolute;
  right: .5em;
  top: -0.75em;
  border: none;
  background-color: white;
  padding: .25em .5em;
  border-radius: 50%;
  box-shadow: 0 4px 12px hsl(206deg 4% 4% / 20%);
  cursor: pointer;
}

.article__button:hover{
  background-color: hsl(354, 78%, 60%);
  color: white;
}

/*FOOTER*/

.footer{
  background-color: hsl(0, 0%, 90%);
  padding: 6em 1.5em 0 1.5em;
  width: 100% ;
}

@media screen and (min-width: 767px){
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer__ul{
  display: grid;
  grid-template: repeat(4,1fr);
  gap: 1em;
  max-width: 100em;
}

@media screen and (min-width: 576px){
  .footer__ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}

@media screen and (min-width: 767px){
  .footer__ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6em;
  }
}

@media screen and (min-width: 960px){
  .footer__ul{
    font-size:1.2em ;
  }
}


.footer__li{
  margin-bottom: 1em;
}

.footer__h3{
  margin-bottom: 1em;
}

.footer__a{
  color: var(--text-color);
}

.footer__ul--social{
  display: grid;
  grid-template: 1fr 1fr/ repeat(3,4em);
  margin-bottom: 2em;
}

.footer__h3--social{
  grid-row: 1/2;
  grid-column: 1/4;
}

.footer__svg{
  height: 2em;
  width: 2em;
  fill: var(--first-color);
}

.footer__hr{
  border: none;
  background-color: white;
  opacity: 0.2;
  height: 1px;
}

.footer__span{
  color: hsl(0, 0%, 55%);
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}



.footer__span--sub{
  text-transform: uppercase;
}

.hidden{
  display:none
}

@keyframes loader {
  0%{ 
    transform: translateY(0)
  }
  50%{
    transform: translateY(-30px);
  }
  100%{
    transform: translateY(0);
  }
}